<!-- <h1>hello angular</h1>


{{description}}

<h1>
    {{description}}

</h1>


<a href="">{{phonenumber}}</a>
<br>
<img [src]="imgSrc" alt=""> -->
<!-- 

<input type="submit" value="add" [disabled]="eslam">
<br>

<input type="checkbox" (click)="change()"> i agree to terms and services -->


<!-- <input #frominput  type="text" >

<button (click)="formadd(frominput.value)">add</button>

<div>{{osama}}</div> -->


<div class="container"> 

    <textarea placeholder="write here" class="textarare" [(ngModel)]="refay" ></textarea>


</div>
<div class="container "> 

    <div class="secondstyle">

           <span [class]="font">
                {{refay}}
           </span>


    </div>
    
<div class="clr"></div>


</div>


<div class="mauto">
<h2>Font Name ' {{fontname}} '</h2>

    <button class="botns b1" (click)="chf1()">Lobster</button>
    <button class="botns b2" (click)="chf2()">Wallpoet</button>
    <button class="botns b3" (click)="chf3()">Shadows</button>
    <button class="botns b4" (click)="chf4()">ZCOOL</button>

</div>
